version: '3.5'

networks:
  inception:
    driver: bridge

volumes:
  wp:
     driver: local
     driver_opts:
       type: 'none'
       o: bind
       device: /$HOME/data/wordpress
  mariadb:
     driver: local
     driver_opts:
       type: 'none'
       o: bind
       device: /$HOME/data/mariadb

services:
  mariadb:
    container_name: mariadb          
    networks:
      - inception                    
    build: 
      context: requirements/mariadb
      dockerfile: Dockerfile
    env_file: .env                   
    volumes:                         
      - mariadb:/var/lib/mysql
    restart: unless-stopped           
    expose:                          
      - "3306"

  wordpress:
    container_name: wordpress
    env_file: .env
    volumes:
      - wp:/var/www/wordpress
    networks:
      - inception
    build: 
      context: requirements/wordpress
      dockerfile: Dockerfile
    depends_on:
      - mariadb
    restart: on-failure
    expose: 
      - "9000"

  nginx:
    container_name: nginx
    volumes:
      - wp:/var/www/wordpress
    networks:
      - inception
    depends_on:
      - wordpress
    build: 
      context: requirements/nginx
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "8443:443"  
    restart: on-failure


